/*CSS pending minification*/

.mobileShow { display: none;}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){ .mobileShow { display: inline;}}

.mobileHide
   { display: none;}
